.panel.workouts
  &.list > article
    .item
      .minutes
        // float: right
        font-weight: bold
        
  &.create > article
    background: #b4bec5
    
    form
      margin: 10px
      padding: 20px
      background: #FFF
      border: 1px solid #aeaeae
      border-radius(10px)
      
    select, input
      display: block
      margin: 0 0 15px 0
      width: 100%
      font-size: 15px
      
      &:last-child
        margin-bottom: 0