.panel.workouts
  &.list > article
    .item
      .minutes
        // float: right
        font-weight: bold
        
    &:empty::after
      display: block
      content: 'Empty...'
      text-align: center
      margin: 30% 0
      color: darken(#e0e0e0, 20%)
        
  &.create > article
    background: #b4bec5
    
    form
      margin: 10px
      background: #FFF
      border: 1px solid #aeaeae
      border-radius(10px)
      box-shadow(0, 1px 1px, rgba(0, 0, 0, 0.1))
      
    label
      display: block
      border-bottom: 1px solid #aeaeae
      font-size: 13px
      padding: 15px
      
      &:last-child
        border-bottom: none
        
      span::after
        content: ':'
      
    select, input
      display: block
      width: 100%
      font-size: 15px
      margin: 5px 0 0 0